.discard {
  display: flex;
  flex-direction: row;
}
.card {
  max-width: 100%;
  max-height: 100%;
}
.card-wrapper {
  max-width: 200px;
  max-height: 300px;
  color: white;
  font-size: 2em;
  position: relative;

  transition: margin-left .5s, margin-bottom .5s, font-size .5s, max-width .5s, max-height .5s;
  
  z-index: 1;
}
.card-wrapper:hover {
  z-index: 2;
}
.card-wrapper:not(:first-child) {
  margin-left: -50px;
}
.prev {
  left: 0;
  top: 0;
  position: absolute;
}
.lose {
  bottom: 0;
  right: 0;
  color: red;
  position: absolute;
}